#Исключаемfrontend
frontend/

#ИсключаемGit
.git
.gitignore

#ИсключаемIDE
.idea/
*.iml
*.iws
*.ipr

#Исключаемсборку
build/
.gradle/
bin/

#Исключаемлогиивременныефайлы
*.log
*.tmp
*.temp


#Исключаемсистемныефайлы
.DS_Store
Thumbs.db